# This is Git's per-user configuration file.
[user]
	name = Max Hill
	email = max@hills.nu
[github]
	user = maxhill
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
	pager = delta
[push]
	default = current
	autoSetupRemote = true
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[rerere]
    enabled = true
    autoupdate = true

# Include custom .gitconfig if in work folder
[includeIf "gitdir:~/code/work/"]
    path = ~/code/work/.gitconfig

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true


[credential]
	helper = cache --timeout=3600
[coderabbit]
	machineId = cli/6830963b970e47eda9363b40d1e3de66

# Diff / delta
[diff]
	algorithm = histogram
	colorMoved = zebra
	colorMovedWS = allow-indentation-change
	tool = nvimdiff

[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = "/usr/bin/nvim -d \"$LOCAL\" \"$REMOTE\""

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
	syntax-theme = gruvbox-dark
